<kendo-appbar position="top">
  <kendo-appbar-section>
    <ul>
      <li><span><button kendoButton fillMode="link" (click)="goToDiets()">Lista dostępnych diet</button></span></li>
      <li><span><button kendoButton fillMode="link" (click)="goToCart()">Koszyk</button></span></li>
      <li><span><button kendoButton fillMode="link" (click)="logout()">Wyloguj się</button></span></li>
    </ul>
  </kendo-appbar-section>
</kendo-appbar>
<h2>Lista dostępnych diet</h2>
<section class="u-align-center u-clearfix u-section-1" id="sec-282d">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-expanded-width u-table u-table-responsive u-table-1">
      <kendo-grid [data]="diets" [sortable]="false" [filterable]="false" [height]="400" [width]="" class="u-table-entity u-table-entity-1">
        <kendo-grid-column field="name" title="Tytuł" headerClass="u-grey-50 u-table-header u-table-header-1" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <button kendoButton (click)="goToDiet()" fillMode="link">{{ dataItem.name }}</button>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="price" title="Cena" headerClass="u-grey-50 u-table-header u-table-header-1" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></kendo-grid-column>
        <kendo-grid-column field="calories" title="Kaloryczność" headerClass="u-grey-50 u-table-header u-table-header-1" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></kendo-grid-column>
        <kendo-grid-column field="vegan" title="Czy jest wegańska" headerClass="u-grey-50 u-table-header u-table-header-1" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.vegan ? "Tak" : "Nie"}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column headerClass="u-grey-50 u-table-header u-table-header-1" class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <a class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2" href="Lista-dostępnych-diet.html" data-page-id="28982696">Dodać do zamówienia</a>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</section>
