
<main id="previewOrder">
  <div>
    <h1>Podgląd zamówienia</h1>
    <form class="k-form">
      <fieldset class="k-form-fieldset">
        <h2>Lista wybranych diet</h2>
        <ul>
          <li *ngFor="let dietName of editModel.dietNames">
            <span>{{dietName}}</span>
          </li>
        </ul>
      </fieldset>
      <fieldset class="k-form-fieldset">
        <h2>Informacja</h2>
        <kendo-formfield>
          <kendo-label text="Koszt" class="shortInput"></kendo-label>
          <kendo-textbox [(ngModel)]="editModel.cost"
                         [value]="editModel.cost"
                         [ngModelOptions]="{standalone: true}"
                         #cost
                         [disabled]="true"></kendo-textbox>
        </kendo-formfield>
        <kendo-formfield class="shortInput">
          <kendo-label text="Status"></kendo-label>
          <kendo-textbox [(ngModel)]="editModel.status"
                         [value]="editModel.status"
                         [ngModelOptions]="{standalone: true}"
                         #status
                         [disabled]="true"></kendo-textbox>
        </kendo-formfield>
        <kendo-formfield class="shortInput">
          <kendo-label text="Adres"></kendo-label>
          <kendo-textbox [(ngModel)]="editModel.address"
                         [value]="editModel.address"
                         [ngModelOptions]="{standalone: true}"
                         #address
                         [disabled]="true"></kendo-textbox>
        </kendo-formfield>
        <kendo-formfield class="shortInput">
          <kendo-label text="Numer telefonu"></kendo-label>
          <kendo-textbox [(ngModel)]="editModel.phone"
                         [value]="editModel.phone"
                         [ngModelOptions]="{standalone: true}"
                         #phone
                         [disabled]="true"></kendo-textbox>
        </kendo-formfield>
        <kendo-formfield class="shortInput">
          <kendo-label text="Data złożenia zamówienia"></kendo-label>
          <kendo-datepicker [(ngModel)]="editModel.orderDate"
                         [value]="editModel.orderDate"
                         [ngModelOptions]="{standalone: true}"
                         #orderDate
                         [disabled]="true"></kendo-datepicker>
        </kendo-formfield>
        <kendo-formfield class="shortInput">
          <kendo-label text="Data dostarczenia zamówienia"></kendo-label>
          <kendo-datepicker [(ngModel)]="editModel.deliverDate"
                         [value]="editModel.deliverDate"
                         [ngModelOptions]="{standalone: true}"
                         #deliverDate
                         [disabled]="true"></kendo-datepicker>
        </kendo-formfield>
        <kendo-formfield class="shortInput">
          <kendo-label text="Komentarz"></kendo-label>
          <kendo-textbox [(ngModel)]="editModel.comment"
                         [value]="editModel.comment"
                         [ngModelOptions]="{standalone: true}"
                         #comment
                         [disabled]="true"></kendo-textbox>
        </kendo-formfield>
      </fieldset>
    </form>
    <div class="parallel-wrapper">
      <button [disabled]="!editModel.hasComplaint" kendoButton themeColor="primary" id="showComplaintBtn" (click)="showComplaint()">Otwórz reklamację</button>
      <button [disabled]="!isReadyToDeliver" kendoButton themeColor="primary" id="redierectDelivererBtn" (click)="redirectDeliverer()">Przekieruj do dostawcy</button>
    </div>
    </div>
</main>
