
@font-face {
  font-family: Montserrat;
  src: local("Montserrat"), url(../assets/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(../assets/fonts/OpenSans-Regular.ttf) format("truetype");
}

body {
    height: 100%;
}

* {
    font-family: "Open Sans", sans-serif;
}
h1, button {
    font-family: Montserrat, sans-serif;
}
h1 {
  font-weight: 700;
  font-size: 3rem;
}

.notification {
    padding: 10px;
    border-radius: 10px;
}

.notification-error {
    background-color: red;
    color: white;
}

.notification-info {
  background-color: green;
  color: white;
}


#registrationForm {
  background-color: white;
  width: 500px;
  border-radius: 20px 20px;
  position: relative;

  fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      margin-bottom: 0%;
    }

    input {
      background-color: #e5e5e5;
      padding: 10px 12px;
      border-radius: 20px;
    }

    kendo-formfield {
      width: 100%;

      kendo-textbox, kendo-maskedtextbox {
        border-radius: 20px;
      }
    }

    button {
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 20px;
      padding: 10px 30px;
    }

    .wideBtn {
      margin-top: 20px;
      width: 100%;
    }

    .shortBtn {
      margin-top: 60px;
    }
  }
}
