$border-radius: 4px;
$primary: #f35800;
$secondary: #e9e9e9;
$info: #007bc3;
$success: #3ea44e;
$warning: #ff9800;
$error: #d92800;
$body-text: #272727;
$body-bg: #ffffff;
$headings-text: #272727;
$subtle-text: #666666;
$disabled-text: #8f8f8f;
$component-text: #272727;
$component-bg: #ffffff;
$base-text: #272727;
$base-bg: #f0f0f0;
$hovered-text: #272727;
$hovered-bg: #bababa;
$selected-text: #ffffff;
$selected-bg: #ff6358;
$kendo-button-text: #272727;
$kendo-button-bg: #f0f0f0;
$link-text: #f35800;
$link-hover-text: #cc4a00;
$series-a: #007bc3;
$series-b: #3ea44e;
$series-c: #ffae00;
$series-d: #ef4c00;
$series-e: #a419b7;
$series-f: #430b62;

@import "~@progress/kendo-theme-classic/dist/all.scss";