
<main id="diets">
  <div>
    <h2>Lista dostępnych diet</h2>
    <section>
      <div>
        <div>
          <kendo-grid
                      [kendoGridBinding]="diets"
                      [sortable]="true"
                      [filterable]="true"
                      [height]="600"
                      [scrollable]="false"
                      [pageable]="true"
                      [pageSize]="6"
                      [skip]="0">
            <kendo-grid-column field="name" title="Nazwa">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button kendoButton (click)="goToDiet(dataItem.id)" fillMode="link" themeColor="primary">{{ dataItem.name }}</button>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="price" title="Cena" filter="numeric">
            </kendo-grid-column>
            <kendo-grid-column field="calories" title="Wartość energetyczna [kcal]" filter="numeric">
            </kendo-grid-column>
            <kendo-grid-column field="vegan" title="Czy jest wegańska" filter="boolean">
              <kendo-grid-messages filterIsTrue="Tak"
                                   filterIsFalse="Nie"
                                   filterBooleanAll="---">
              </kendo-grid-messages>

              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.vegan ? "Tak" : "Nie"}}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column>
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button kendoButton themeColor="primary" (click)="addDietToCart(dataItem.id)">Dodaj do zamówienia</button>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
    </section>
  </div>
</main>
