<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="clientLogin" value="klient@klient.pl"/>
	<add key="clientPassword" value="Klient123!"/>
    <add key="producerLogin" value="producent@producent.pl"/>
    <add key="producerPassword" value="Producent123!"/>
    <add key="delivererLogin" value="dostawca@dostawca.pl"/>
    <add key="delivererPassword" value="Dostawca123!"/>
  </appSettings>
</configuration>