<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="producerLogin" value="producer@gmail.com"/>
    <add key="producerPassword" value="1234"/>
    <add key="delivererLogin" value="deliverer@gmail.com"/>
    <add key="delivererPassword" value="1234"/>
  </appSettings>
</configuration>